* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: min(90%, 500px);
    /* border: 1px solid red; */
    margin: 10vh auto 0 auto;
    border: 1px solid lightgray;
    padding: 20px;
    border-radius: 3px;
}

.input-container:not(:last-of-type) {
    margin-bottom: 10px;
}

.input-container:last-of-type {
    margin-top: 20px;
}

input,
textarea {
    appearance: none;
    width: 100%;
    padding: 25px 10px 10px 10px;
    font-family: inherit;
    border: 1px solid lightgray;
    border-radius: 3px;
}

.input-container {
    position: relative;
}

.input-container label {
    position: absolute;
    top: 7px;
    left: 11px;
    font-size: 12px;
    visibility: hidden;
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}

.input-container:focus-within label {
    visibility: visible;
}

input,
textarea {
    outline: 0;
}

input:valid,
textarea:valid {
    border-color: lightgreen;
    background-color: hsla(120, 73%, 75%, 0.1);
}

input:focus:invalid,
textarea:focus:invalid {
    border-color: lightcoral;
    background-color: hsla(0, 79%, 72%, 0.1);
}

input:not(:placeholder-shown) + label,
textarea:not(:placeholder-shown) + label {
    visibility: visible;
}

input:not(:placeholder-shown):invalid {
    border-color: lightcoral;
    background-color: hsla(0, 79%, 72%, 0.1);
}